.red.point{
    top: 135px;
    left: 29.5%;
    transform: rotate(270deg);
}
.green.point{
    top: 174px;
    left: 41.4%;
}
.blue.point{
    left: 52.9%;
    top: 291px;
}
.yellow.point{
    transform: rotate(0deg);
    top: 399px;
    left: 45%;
}
.purple.point{
    top: 94px;
    left: 142px;
    transform: rotate(180deg);
}
.brown.point{
    transform: rotate(0deg);
    top: 54px;
    left: 145px;
}
.orange.point{
    top: 329px;
    left: 61.2%;
    transform: rotateZ(90deg) rotateY(180deg);
    clip-path: polygon(22% 69%, 75% 69%, 100% 98%, 47% 99%);
}