
/*------- Tangram figures -------*/

.red{
    height : 0;
    width : 0;
    border-top : 80px solid red;
    border-right : 80px solid transparent;
    border-left : 80px solid transparent;

    position: absolute;
    transform: rotate(0deg);
}
.green{
    height : 0;
    width : 0;
    border-top : 80px solid transparent;
    border-right : 80px solid green;
    border-bottom : 80px solid transparent;

    position: absolute;
    transform: rotate(0deg);
}
.blue{
    height : 0;
    width : 0;
    border-top : 40px solid transparent;
    border-bottom : 40px solid transparent;
    border-left : 40px solid blue;

    position: absolute;
    transform: rotate(0deg);
}
.yellow{
    height : 55px;
    width : 55px;
    position: absolute;
    background-color: yellow;

    position: absolute;
    transform: rotate(0deg);
}
.purple{
    height : 0;
    width : 0;
    position: absolute;
    border-right : 85px solid transparent;
    border-bottom : 85px solid purple;

    position: absolute;

}
.brown{
    height : 0;
    width : 0;
    position: absolute;
    border-right : 40px solid transparent;
    border-bottom : 40px solid brown;
    border-left : 40px solid transparent;

    position: absolute;
}
.orange{
        position: absolute;
        clip-path: polygon(22% 69%, 67% 69%, 90% 98%, 47% 99%);
        background-color: orange;
}