.red.secret{
    top: 225px;
    left: 2.5%;
    transform: rotate(45deg);
}
.green.secret{
    top: 185px;
    left: 45.78%;
    transform: rotate(135deg);
}
.blue.secret{
    left: 7.4%;
    top: 182px;
    transform: rotateZ(45deg);
}
.yellow.secret{
    transform: rotate(45deg);
    top: 105px;
    left: 46.2%;
}
.purple.secret{
    top: 152.9px;
    left: 123px;
    transform: rotateY(180deg);
}
.brown.secret{
    transform: rotate(315deg);
    top: 287px;
    left: 48px;
}
.orange.secret{
    top: 219px;
    left: 56.7%;
    transform: rotateZ(174deg) rotateY(180deg);
}