* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 80%;
    margin: 30px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
.canvas{
    width: 350px;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(241, 241, 255);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    overflow-x: hidden;
}