.vautour:nth-of-type(1){
    height : 0;
    width : 0;
    border-top : 80px solid red;
    border-right : 80px solid transparent;
    border-left : 80px solid transparent;
    position: absolute;
    top: 27%;
    transform: rotate(180deg);
}
.vautour:nth-of-type(2){
    height: 0;
    width: 0;
    border-top: 80px solid transparent;
    border-right: 80px solid rgb(34, 255, 0);
    border-bottom: 80px solid transparent;
    position: absolute;
    
    top: 32.5%;
    transform: rotate(135deg);
    left: 52.5%;

}
.vautour:nth-of-type(3){
    height: 0;
    width: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid rgb(0, 119, 255);
    position: absolute;
    top: 31%;
    left: 23%;
    transform: rotate(270deg);
}
.vautour:nth-of-type(4){
    
    height: 55px;
    width: 55px;
    position: absolute;
    background-color: rgb(44, 251, 241);
    transform: rotate(45deg);
    top: 29.2%;
    left: 29%;

}
.vautour:nth-of-type(5){
    height: 0;
    width: 0;
    position: absolute;
    border-right: 85px solid transparent;
    border-bottom: 85px solid rgb(183, 0, 255);
    top: 43%;
    left: 66%;

}
.vautour:nth-of-type(6){
    height: 0;
    width: 0;
    position: absolute;
    border-right: 40px solid transparent;
    border-bottom: 40px solid rgb(36, 139, 38);
    border-left: 40px solid transparent;
    top: 64.9%;
    left: 58%;
}
.vautour:nth-of-type(7){
    position: absolute;
    clip-path: polygon(22% 70%, 65% 70%, 89% 99%, 46% 99%);
    background-color: rgb(243, 30, 119);
    transform: scaleX(1.2);
    transform-origin: left;
    top: 39%;
    left: 59.5%;
}